body {
  background-color: #eaf3da;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px dotted black;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif; 
}
header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img {
  margin-left: 30%;
  margin-right: 30%;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 136px;
  color: green;
  text-decoration: underline;
}
h3 {
  font-size: 36px;
  border-bottom: 1px solid black;
}
p {
  font-family: Arial;
  font-size: 26px;
  text-indent: 20px;
  color: black;
}
div.hike {
  text-align: justify;
}
#abstract {
  text-align: right;
}
#goroda {
  background-image: url(images/Balaklava.jpg);
}