@font-face {
  font-family: "Emblema One";
  src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
  url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
body {
  background-color: #eaf3da;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px dotted black;
  padding: 10px 10px 10px 10px;
  font-family: Verdana, Geneva, Arial, sans-serif; 
  font-size: 14px;
}
header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img {
  margin-left: 30%;
  margin-right: 30%;
}
h1 {
  text-align: center;
  font-size: 136px;
  color: green;
  text-decoration: underline;
  font-family: Emblema One;
}
h3 {
  font-size: 300%;
  border-bottom: 1px solid black;
}
p {
  font-family: Arial;
  font-size: 26px;
  color: black;
}
ul {
  font-size: 150%;
}
pre, blockquote {
  text-indent: 0;
}
div.hike {
  text-align: justify;
  text-indent: 60px;
}
#goroda {
  background-image: url(images/Balaklava.jpg);
}